<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Página Web</title>
    <link rel="stylesheet" href="estilo1.css">
</head>
<body>
    <header>
        <h1>Los mejores jugadores de la historia</h1>
    </header>
    
    <nav>
        <ul>
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Sobre mí</a></li>
            <li><a href="#">Contacto</a></li>
        </ul>
    </nav>

    <div class="container">
        <main>
            <article>
                <h2>Lionel Messi</h2>
                <img src="file:///C:/Users/Emerson/Documents/NetBeansProjects/HTML5Application/public_html/Images/messi.jpg" alt="Descripción de la imagen">

                <p>Lionel Andrés Messi Cuccittini (Rosario, 24 de junio de 1987), 
                    conocido como Leo Messi, es un futbolista argentino que juega como delantero o centrocampista. 
                    Desde 2023, integra el plantel del Inter Miami de la MLS canadoestadounidense. 
                    Es también internacional con la selección de Argentina, de la que es capitán. </p>
            </article>
            <article>
                <h2>Cristiano Ronaldo</h2>
                <img src="file:///C:/Users/Emerson/Documents/NetBeansProjects/HTML5Application/public_html/Images/cr7.jpg" alt="Descripción de la imagen">

                <p>Cristiano Ronaldo dos Santos Aveiro (Funchal, Madeira; 5 de febrero de 1985) 
                    es un futbolista portugués. Juega como extremo izquierdo o delantero 
                    y su equipo actual es el Al-Nassr F. C. de la Liga Profesional Saudí.19​ 
                    Es internacional absoluto con la selección de Portugal, de la cual es capitán, 
                    máximo goleador histórico y jugador con más presencias con 212 partidos, 
                    logro alcanzado en las eliminatorias para la Eurocopa 2024, reconocido por el 
                    Libro Guinness de los récords.</p>
            </article>
            <div class="featured">
                
                <h2>Dedicatoria</h2>
            
                <p>Para Lionel Messi y Cristiano Ronaldo, dos leyendas del fútbol cuya pasión, 
                    determinación y talento han inspirado a generaciones enteras. 
                    Sus carreras, marcadas por momentos inolvidables y logros extraordinarios, 
                    son un testimonio de lo que significa ser verdaderamente grande. 
                    Gracias por elevar este hermoso deporte a nuevas alturas y por demostrar 
                    que con trabajo duro, dedicación y amor por el juego, los sueños se pueden 
                    convertir en realidad. ¡Eternos en nuestros corazones y en la historia del fútbol!</p>
            </div>
        </main>

        
        <aside>
            <h3>Mas artticulos</h3>
            <p>Guarda esta web en tus favoritos</p>
        </aside>
    </div>

    <footer>
        <p>Copyright -Eme</p>
    </footer>
</body>
</html>
